* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #21325d;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

p {
    padding: 2px;
    font-size: 1.25rem;
}

ul {
    padding-left: 50px;
    font-size: 1.25rem;
}

.header {
    background-color: #ec4195;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 5px 5px rgb(49, 49, 49);    
}

.content {
    padding: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    padding-bottom: 50px;
}

button {
    background-color: green;
    border-radius: 100px;
    padding: 20px;
    width: 200px;
    font-size: 2rem;
    color: white;
}